{% extends "action.j2" -%}
{% block baseClass -%}(AbstractActionSaveOption){% endblock -%}
{% block init -%}
        AbstractActionSaveOption.__init__(self, '{{ targetSlot }}', '{{ targetTable }}', {{ displaySlots }}, {{ setSlots }}, '{{ representation }}')
{% endblock -%}
{% block name %}
    def name(self):
        return 'action_{{ actionName }}'
{% endblock -%}
{% block runMethod -%}
{% endblock -%}