{% extends "action.j2" -%}
{% block baseClass -%}(AbstractActionExecuteTransaction){% endblock -%}
{% block init -%}
        AbstractActionExecuteTransaction.__init__(self, '{{ transactionName }}', '{{ operation }}', {{ argumentSlots }}, {{ returnSlots }})
{% endblock -%}
{% block name %}
    def name(self):
        return 'action_{{ actionName }}'
{% endblock -%}
{% block methods -%}
{% endblock -%}