{% extends "action.j2" -%}
{% block baseClass -%}Options(AbstractActionProposeOptions){% endblock -%}
{% block init -%}
        AbstractActionProposeOptions.__init__(self, '{{ targetTable }}', {{ displaySlots }}, '{{ representation }}')
{% endblock -%}
{% block name %}
    def name(self):
        return 'action_{{ actionName }}'
{% endblock -%}
{% block runMethod -%}
{% endblock -%}
