{% extends "action.j2" -%}
{% block baseClass -%}(AbstractActionProposeTransaction){% endblock -%}
{% block init -%}
        AbstractActionProposeTransaction.__init__(self, '{{ transactionName }}', {{ asIsSlots }}, {{ resolveSlots }})
{% endblock -%}
{% block name %}
    def name(self):
        return 'action_{{ actionName }}'
{% endblock -%}
{% block runMethod -%}
{% endblock -%}
