<mat-card>
  <mat-card-header>
    <mat-card-title>Introduction</mat-card-title>
    <mat-card-subtitle>Welcome to the CAT. Start configuring your conversational agent in just a few steps.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>table_chart</mat-icon>
        <h4 mat-line>Connect to a database and a schema with stored procedures</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>shuffle</mat-icon>
        <h4 mat-line>Configure table and column relationships and requestable slots</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>playlist_add</mat-icon>
        <h4 mat-line>Provide natural language phrasings for procedures tables, columns, parameters and return values</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>check_box</mat-icon>
        <h4 mat-line>Generate tasks, phrase some responses and intent examples with the help of placeholders</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>play_circle_filled</mat-icon>
        <h4 mat-line>Use the task, table and template configurations to simulate dialogs and bootstrap a converational agent!</h4>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [color]="'primary'" routerLink="/configuration">Configure a bot</button>
    <!--<button mat-raised-button [color]="'primary'" routerLink="/training">Train a bot</button>-->
  </mat-card-actions>
</mat-card>
